{% extends 'base.html' %} {% block content %}

<h3>About</h3>
<hr />
<blockquote class="flow-text">
    About my experience… I’m a carpenter by trade and have worked in the construction field building high rises and remodeling for years and the many aspects of it. I’ve worked for others as a roofer, a fence installer, a maintenance guy dealing with a range of issues; electrical, plumbing, carpentry, air conditioning and ventilation, yard work and lawn care to tree trimming and removal, painting, trash pick up, pool care, etc.<br/>
    And in the midst of all that, I went to university, started and operated a nonprofit and helped my wife raise 3 beautiful children
</blockquote>

{% endblock %}