{% extends 'base.html' %} {% block content %} {% load static %}

<div class="z-depth-2">

    <h3 class="center">Anū Handyman</h3>
    <hr />

</div>

    <div class="row center">
        <h4>In the business of making things <i>new</i> again</h4>
    </div>

<div class="z-depth-2">

    <h5 class="center">Services</h5>
    <hr />
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/carpentry.jpg' %}" 
                    alt="carpentry"
                    style="object-fit: cover;" 
                >
                <span class="card-title white-text">Carpentry</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/roofing.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Roofing</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/installation.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Installation</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/maintenance.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Maintenance</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/electrical.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Electrical</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/plumbing.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Plumbing</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/ac&ventilation.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">AC & Ventilation</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/lawncare.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Lawn Care</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/tree.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Tree Trimming & Removal</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/painting.avif' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Painting</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/trash.jpeg' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Trash Pick-Up</span>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <img 
                    class="responsive-img"
                    src="{% static 'main_app/pool.jpeg' %}" 
                    alt="carpentry" 
                    style="object-fit: cover;"
                >
                <span class="card-title white-text">Pool Care</span>
            </div>
        </div>
    </div>

</div>

{% endblock %}