body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
.z-depth-2 {
  border-radius: 2px;
}

main {
  flex: 1 0 auto;
}

.card {
  display: flex;
  border-radius: 8px;
  height: 20vh;
}

.responsive-img {
  width: 100%;
}

.card-title {
  position: absolute;
  top: 30%;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  text-shadow: 50px;
}

footer {
  padding-top: 0;
  text-align: right;
}